<p id="notice"><%= notice %></p>

<p>
  <strong>Номер поезда:</strong>
  <%= @train.number %>
</p>

<strong> Маршрут </strong>
<% if @train.route.present? %>
  <%= @train.route.name %>
<% else %>
  Маршрут не назначен
<% end %>

<p>
  <strong> Вагоны </strong>
    <ul><% @train.sort_carriages.each do |carriage| %> 
      <li> <%= link_to "#{carriage.number} -- #{carriage.type}", 
        train_carriage_url(@train, carriage) %></li>
    <% end %>
    </ul>
</p>

<p>
  <%= link_to 'Добавить вагон', new_train_carriage_path(@train) %>
</p>
</p>
<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
                                                                      