<p id="notice"><%= notice %></p>

<h1>Вагоны</h1>

<table>
  <thead>
    <tr>
      <th>
        <td> № в составе </td>
        <td> | </td>
        <td> тип </td>
        <td> | </td>
        <td> верхние места </td> 
        <td> | </td>
        <td> нижние места </td> 
        <td> | </td>
        <td> поезд </td> 
        <td> | </td>
      </th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carriages.each do |carriage| %>
      <tr>
      <th>
        <td><%= carriage.number %></td>
        <td> | </td>
        <td><%= carriage.type %></td>
        <td> | </td>
        <td><%= carriage.top %></td>
        <td> | </td>
        <td><%= carriage.bottom %></td>
        <td> | </td>
        <td><%= carriage.train.number %></td>
        <td> | </td>
       </th>
      </tr>
    <%= render partial: 'carriages/carriage', collection: @carriages %>  
    <% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'Создать новый вагон', new_carriage_path %>