<p id="notice"><%= notice %></p>

<p>
  <strong>Порядковый номер:</strong>
  <%= @carriage.number %>
</p> 

<p>
  <strong>Тип вагона:</strong>
  <%= @carriage.type %>
</p> 

<p>
  <strong>Количество сидячих мест:</strong>
  <%= @carriage.seats_place %>
</p> 

<p>
  <strong>Номер поезда:</strong>
  <%= @carriage.train.number %>
</p> 

<%= link_to 'Редактировать', edit_carriage_path(@carriage) %> 
<%= link_to 'Назад', carriages_path %>
