<p id="notice"><%= notice %></p>

<p>
  <strong>Номер вагона:</strong>
  <%= @carriage.number %>
</p> 

<p>
  <strong>Тип вагона:</strong>
  <%= @carriage.type %>
</p> 
<p>
  <strong>Количество верхних мест:</strong>
  <%= @carriage.top %>
</p> 
<p>
  <strong>Количество нижних мест:</strong>
  <%= @carriage.bottom %>
</p> 

<p>
  <strong>Номер поезда:</strong>
  <%= @carriage.train.number %>
</p> 

<%= render @carriage.type.underscore %>

<%= link_to 'Редактировать', edit_carriage_path(@carriage) %> 
<%= link_to 'Назад', carriages_path %>
