<p id="notice"><%= notice %></p>

<p>
  <strong>Номер вагона:</strong>
  <%= @carriage.number %>
</p> 

<p>
  <strong>Тип вагона:</strong>
  <%= @carriage.type %>
</p> 

<%= link_to 'Редактировать', edit_train_carriage_path(train, @carriage) %> 
<%= link_to 'Назад', train_carriages_path %>
