<%= form_with(model: passenger, local: true) do |form| %>
  <%= render 'common/errors',  resource: passenger %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :passenger_name %>
  </div>
   <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :passenger_lastname %>
  </div>
  <div class="actions">
    <%= form.submit "#{ @passenger.new_record? ? 'Создать' : 'Изменить' }" %>
  </div>
<% end %>
