<p id="notice"><%= notice %></p>

<p>
  <strong>Имя</strong>
  <%= @passenger.name %>
  <strong>Фамилия</strong>
  <%= @passenger.lastname %>

</p>

<%= link_to 'Редактировать', edit_passenger_path(@passenger) %> 
<%= link_to 'Назад', passengers_path %>
