<p id="notice"><%= notice %></p>

<h1>Вагоны</h1>

<table>
  <thead>
    <tr>
      <th>
        <td> № </td>
        <td> | </td>
        <td> тип </td>
        <td> | </td>
        <td> верхние места </td> 
        <td> | </td>
        <td> нижние места </td> 
        <td> | </td>
        <td> поезд </td> 
        <td> | </td>
      </th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carriages.order(:train_id).each do |carriage| %>
      <tr>
      <th>
        <% carriage = carriage.becomes(Carriage)%>
        <td><%= carriage.number %></td>
        <td> | </td>
        <td><%= carriage.type %></td>
        <td> | </td>
        <td><%= carriage.top_place %></td>
        <td> | </td>
        <td><%= carriage.bottom_place %></td>
        <td> | </td>
        <td><%= carriage.train.number %></td>
        <td> | </td>
        <td><%= link_to 'Показать', [:admin, carriage] %></td>
        <td><%= link_to 'Редактировать', edit_admin_carriage_path(carriage) %></td>
        <td><%= link_to 'Удалить', [:admin, carriage], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </th>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать новый вагон', new_admin_carriage_path %>