<p id="notice"><%= notice %></p>

<p>
  <strong>Название</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Список станций в маршруте</strong>
  <% if @route.railway_stations.empty? %>
    <p> Список пуст </p>
  <% else %>
  <ul>
    <% @route.railway_stations.order_stations.each do |station| %>
      <li> 
      <%= station.title %>  
      <%= form_tag(update_station_railway_station_path(station), method: "put") do %>
        <%= label_tag(:number_order, "Порядковый номер в маршруте: ") %>
        <%= text_field_tag(:position, station.position(@route)) %>
        <%= hidden_field_tag(:route_id, @route.id) %>
        <%= submit_tag("Изменить") %>
      <% end %>
      </li>
  <% end %> 
  </ul>
<% end %>
</p>

<%= link_to 'Редактировать', edit_route_path(@route) %> 
<%= link_to 'Назад', routes_path %>
