<p id="notice"><%= notice %></p>

<p>
  <strong>Название</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Список станций в маршруте</strong>
  <% if @route.railway_stations.empty? %>
    <p> Список пуст </p>
  <% else %>
  <ul>
    <% @route.railway_stations_routes.order_stations.each do |line| %>
      <li> <%= "#{line.number_order} - #{line.railway_station.title}" %> </li>
    <% end %>    
  </ul>
  <% end %>
</p>

<%= link_to 'Редактировать', edit_route_path(@route) %> 
<%= link_to 'Назад', routes_path %>
