<%= form_with(model: [:admin, user], local: true) do |form| %>
  <%= render 'common/errors',  resource: user %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>
   <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :user_lastname %>
  </div>
  <div class="actions">
    <%= form.submit "#{ @user.new_record? ? 'Создать' : 'Изменить' }" %>
  </div>
<% end %>
