<p id="notice"><%= notice %></p>
<strong>Учебная программа "Tutu"</strong>

<ul>
  <li><%= link_to 'Маршруты', routes_url%></li>
  <li><%= link_to 'Станции', railway_stations_url%></li>
  <li><%= link_to 'Поезда', trains_url%></li>
  <li><%= link_to 'Пользователи', users_url%></li>
  <li><%= link_to 'Билеты', new_ticket_url%></li>
  <li><%= link_to 'Поиск', search_url%></li>
</ul>
