<p>
<strong>Учебная программа "Tutu"</strong>

<ul>
  <li><%= link_to 'Маршруты', admin_routes_url%></li>
  <li><%= link_to 'Станции', admin_railway_stations_url%></li>
  <li><%= link_to 'Поезда', admin_trains_url%></li>
  <li><%= link_to 'Пользователи', admin_users_url%></li>
  <li><%= link_to 'Билеты', tickets_url%></li>
  <li><%= link_to 'Поиск', search_url%></li>
</ul>
</p>
